.TopBackGround{
    background-color: #282c34;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;

}
.TopFrame{
    position: absolute;
    width: 600px;
    height: 825px;
    margin-left: calc(50% - 300px);
    margin-top: 20px;
    background-color: azure;
    border-radius: 12px;
        padding: 20px 10px 20px 20px;
    filter: drop-shadow(2px 2px 4px);
    transition: 0.5s;
}
.TopFrame.Open{
    transform:rotateZ(10deg) translate(150px,15px);
}
.TopEditorFrame {
    width: 100%;
    height: 300px;

}
.TopEditor {

}